#page-container{
    display: flex;
    justify-content: center;
    margin: 18px 0px 0px 0px;
    gap: 18px;
}

.support{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-accent);
    padding: 4px 8px;
}

.support span{
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.article-thumb{
    width: 700px;
}

.article-infos{
    width: 700px;
    padding: 0px 12px;
    border-left: 4px solid var(--color-accent);
}

.article-infos h1{
    font-size: 30px;
}

.a-content{
    width: 700px;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.a-content p{
    text-align: justify;
    text-indent: 12px;
}

.a-general-infos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.a-author{
    display: flex;
    margin-bottom: 15px;
    gap: 8px;
}

.a-author img{
    width: 42px;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
}

.a-author img:hover{
    cursor: pointer;
    filter: brightness(0.92);
}

.a-author-bio strong:hover {
    cursor: pointer;
    color: var(--color-accent);
}

.a-author-bio{
    display: flex;
    flex-direction: column;
}

#comment-section{
    margin-top: 30px;
}

.comment-box{
    display: flex;
}

.user-pfp img{
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-accent);
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
}

.comment-user-info{
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.user-data{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-data span{
    color: #808080;
    font-weight: 300;
    font-size: 14px;
}

.comment{
    width: 700px;
    text-align: justify;
    margin-bottom: -5px;
}

.comment p{
    font-size: 17px;
}

.user-name{
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-name img{
    width: 16px;
    height: 16px;
}

.interactions{
    display: flex;
    gap: 16px;
}

.vote{
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: 'DM-Sans';
}

.vote svg{
    fill: #000;
}

.vote svg:hover{
    fill: var(--color-accent);
    cursor: pointer;
}

.side-photos{
    margin-top: 30px;
    position: relative;
    width: 330px;
    height: 200px;
    overflow: hidden;
}

.side-photos img{
    width: 330px;
    transition: all 0.3s ease;
}

.side-photos img:hover{
    transform: scale(1.04);
    cursor: pointer;
    filter: brightness(0.97);
}
