#notable-ref-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#notable-ref-container h5:hover{
    text-decoration: underline;
    cursor: pointer;
}

#feature-ref {
    position: relative;
    overflow: hidden;
    width: 500px;
    min-height: 285px;
    padding: 8px;
    cursor: pointer;
}

#feature-ref:hover .bg-img {
    transform: scale(1.02);
}

#feature-ref:hover .name {
    text-decoration: underline;
}

.ref-name {
    width: fit-content;
    position: absolute;
    bottom: 8px;
    z-index: 1;
}

.name {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 6px 26px;
}