footer{
    position: relative;
    width: 100%;
    height: 230px;
    background-color: #000;
    color: #fff;
    margin-top: 60px;
}

footer ul{
    gap: 12px;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
}

footer ul li:first-child{
    color: #6E6E6E;
    text-transform: uppercase;
}

footer .logo-area{
    position: absolute;
    top: 55px;
    left: 101px;
    transform: scale(1.75);
}