.matches-championship-container{
  border: 1px solid #cecece;
  width: 322px;
}

.matches {
    background-color: #fff;
    color: #1E1E3B;
    border-bottom: 1px solid #cecece;
    text-align: center;
}

.matches:last-child {
    border: none;
}

.matches .match-container:hover {
    background-color: #ffb464;
    border: none;
    cursor: pointer;
}

.matches .match-container.match-context:hover{
    background-color: #fff;
    cursor: default;
}

.list {
    list-style: none;
}

.matches .list .match-container {
    padding: 15px 56px;
    border-bottom: 1px solid #cecece;
}

.matches .match{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: "DM-Sans";
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

.home-team,
.away-team {
    display: flex;
    gap: 8px;
    align-items: center;
}

.home-team img,
.away-team img {
    display: flex;
    gap: 8px;
    height: 25px;
}

.home-team img.national-team,
.away-team img.national-team {
    height: 16px;
}

.match{
    margin: 5px auto;
}

.scoreboard{
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-family: "Manrope";
    color: #585a5b;
    font-weight: 700;
}

.scoreboard.positive span:first-child{
    color: #000;
    font-weight: bold;
}

.scoreboard.negative span:last-child{
    color: #000;
    font-weight: bold;
}

.scoreboard small{
    font-weight: 500;
    font-size: 14px;
}

/*matches list*/
#matches-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.match-container small{
    font-size: 14px;
    font-weight: 700;
    font-family: "Manrope";
}

.championship-header.pl{
    background-image: linear-gradient(to right, #420047, #6c0073);
}

.championship-header.sa{
    background-image: linear-gradient(to right, #1c1495, #0995e9);
}

.championship-header.ll{
    background-image: linear-gradient(to right, #d00b03, #ff4b44);
}

.championship-header.bl{
    background-image: linear-gradient(to right, #a80412, #d20515);
}

.championship-header.ucl{
    background-image: linear-gradient(to right, #2a20ae, #0683d0);
    font-weight: bold;
    text-transform: uppercase;
}

.championship-header.general-header{
    background-color: var(--color-accent);
    text-transform: uppercase;
    color: #fff;
}

.championship-header.brmotm-header{
    background-image: linear-gradient(to right, #FAF100, #20BA15);
    text-transform: uppercase;
    color: #fff;
}

.championship-header.ucl img{
    height: 25px;
}

.championship-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 56px;
}

.championship-logo{
    height: 32px;
    display: block;
}

.team-badge{
    height: 32px;
    position: absolute;
    left: 20px;
}

.championship-name{
    line-height: 32px;
    font-size: 20px;
    color: #fff;
}

.referee-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Manrope";
}

.referee-name img{
    height: 12px;
}

.referee-name span{
    text-transform: capitalize;
}

.btn-area{
    padding: 15px 56px;
    background-color: #fff;
    color: #1E1E3B;
    text-align: center;
}

.team-name{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}